<div class="container">
        <div class="panel">
            <div class="panel_header">
                <div class="panel_header_label">Create new contact</div>
                <div class="panel_header_button_cancel">
                    <button>
                        <img src="../resourses/image/cancel.png" alt="some">
                    </button>
                </div>

            </div>
            <div class="panel_contact">
                <div class="container">
                    <form action="" class="form">
                        <div class="field">
                            <label for="firstName">First name</label>
                            <input type="text" id="firstName" value="Artyom">
                        </div>
                        <div class="field">
                            <label for="lastName">Last name</label>
                            <input type="text" id="lastName" value="Kozlov">
                        </div>
                        <div class="field">
                            <label for="phone">Phone number</label>
                            <input type="text" id="phone" value="+7 (999) 999-99-99">
                        </div>
                        <div class="field">
                            <label for="email">Email</label>
                            <input type="text" id="email" value="art@cat.it">
                        </div>
                        <div class="field">
                            <label for="company_name">Company name</label>
                            <input type="text" id="company_name" value="Yandex">
                        </div>
                        <div class="field">
                            <label for="job_title">Job Title</label>
                            <input type="text" id="job_title" value="Developer">
                        </div>
                    </form>
                    
                    <div class="form_buttons">
                        
                        <a href="../html/tableContacts.html">
                            <button class="button_cancel">Cancel</button>
                        </a>
                        <a href="../html/tableContacts.html">
                            <button class="button_save">Save contact</button> 
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
