<header class="head">
    <div class="contacts_header">
        <span class="contacts_label">Contacts Profile</span>
    </div>
</header>

<hr>
<div class="name_container">
    <span class="contacts_name">Kozlov Artyom</span>
</div>
<hr>

<div class="success_container">
    <span class="success_label">Data replaced successfully</span>
</div>

<div class="panel_contact">
    <div class="container">
        <form action="" class="form">
            <div class="field">
                <label for="firstName">First name</label>
                <input type="text" value="12331" id="firstName">
            </div>
            <div class="field">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName">
            </div>
            <div class="field">
                <label for="phone">Phone number</label>
                <input type="text" id="phone">
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input type="text" id="email">
            </div>
            <div class="field">
                <label for="company_name">Company name</label>
                <input type="text" id="company_name">
            </div>
            <div class="field">
                <label for="job_title">Job Title</label>
                <input type="text" id="job_title">
            </div>
        </form>

        <div class="form_buttons">

            <a href="../html/tableContacts.html">
                <button class="button_cancel">Back</button>
            </a>

            <button class="button_save">Edit</button>


        </div>
    </div>
</div>