
<header class="head">
    <div class="contacts_header">
        <span class="contacts_label">Contacts</span>
        <span class="contacts_count">(68 Contacts)</span>
    </div>
    <div class="search">
        <img src="../../../assets/search.png" alt="Search">
        <span class="search_text">Search</span>

    </div>

</header>

<hr>
<div class="tabs_container">
    <div class="tabs_data">
        <a class="count_data" href="tableContacts.html">All 3</a>
        <a href="contacts.html">Favorites</a>
    </div>
    <div class="contact_button">
        <button onclick="window.location.href = 'form.html'">+ Add new contact</button>
    </div>
</div>


<hr>

<div class="contacts_table">
    <table>
        <thead>
            <th>First name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Company name</th>
            <th>Job title</th>
        </thead>
        <tbody>
            <tr>
                <td>Vladimir</td>
                <td>Ivanov</td>
                <td>89211231223</td>
                <td>vladimirmail.ru</td>
                <td>Amazon</td>
                <td>Developer</td>

            </tr>
            <tr>
                <td>Ivan</td>
                <td>Sidorov</td>
                <td>892112321223</td>
                <td>ivangmail.com</td>
                <td>Spotify</td>
                <td>Sound Tech.</td>
            </tr>
            <tr>
                <td>Artyom</td>
                <td>Kozlov</td>
                <td>89211451223</td>
                <td>artcat.it</td>
                <td>Spotify</td>
                <td>Journalist</td>
            </tr>
        </tbody>
    </table>


</div>