.tab_select {
    margin: 0 70px;
    align-items: center;
    display: flex;

}

.tabs {
    display: flex;
    align-items: center;
    height: 36px;
}

.tabs a {
    color: #000070;
    margin: 0 12px 0 0;
    cursor: pointer;
    font-size: 16px;
}

