<app-head></app-head>
<hr>
<app-menu></app-menu>
<hr>
<div class="contacts_fragment">
    <div>
        <div>
            <img alt="" src="../../../assets/catPic.png">
        </div>
        <div class="contacts_info">
            <div class="no_contacts">No contacts</div>
            <div class="contact_button mt_12">
                <button onclick="window.location.href = 'form.html'">
                    + Add new contact
                </button>
            </div>
        </div>
    </div>
</div>